body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo_{
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-{
    color: #2E2F42;
 }
.logo-footer{
    color: #F4F4FD;
}
a{
     text-decoration: none;
 }
.nav-head{
    color: #2E2F42;
}
.nav-links{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-links:hover{
    color: #404bbf; 
}
.nav-links:focus{
    color: #404bbf;
}

.address-head{
    font-style: normal
}
.address-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-info:hover{
    color: #404bbf
}
.address-info:focus{
    color: #404bbf
}
.main-sections{
    background-color: #2E2F42;
}
.main-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.list-description{
    background-color: #FFFFFF;
}
.btn{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    background-color: #404BBF;
}
.btn:focus{
    background-color: #404BBF;
}
.description{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-dscr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team{
    background-color: #F4F4FD;
}
.sub-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.footer-container{
    background-color: #2e2f42;
}
.text-footer{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}